<form (ngSubmit)="onSubmit(changepasswordform)" #changepasswordform="ngForm">
    <div class="container">
    <h2>Change Password</h2><hr>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="currentpassword">Current Password</label>
        <div class="input">
        <input type="currentpassword" class="form-control" id="currentpassword" name="currentpassword" ngModel required #currentpassword="ngModel" placeholder="******">
      </div></div>
     
  
    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
          <label for="newpassword">New Password</label>
          <div class="input">
          <input type="text" class="form-control" id="newpassword" name="newpassword" ngModel required #newpassword="ngModel" placeholder="TataElxsi1@">
        </div></div>
       
    
      </div>
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="confirmnewpassword">Confirm New Password</label>
          <div class="input">
          <input type="text" class="form-control" id="confirmnewpassword" name="confirmnewpassword" ngModel required #confirmnewpassword="ngModel" placeholder="TataElxsi1@">
        </div></div>
       
    
      </div>
  
  
 

     
    <div *ngIf="SuccessStatus"class="alert alert-success" role="alert">
        Password Changed Successfully! 
      </div>
      <div *ngIf="ErrorStatus" class="alert alert-danger" role="alert">
        {{StatusMessage}} 
      </div><br>
    <div class="form-group col-md-3">
    <button  style="float: left; width: auto;"type="submit" class="btn btn-primary" >Change Password <div *ngIf="LoadingSpinner"class="spinner-border spinner-border-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div></button>  
    </div>
  </div>
  </form>