
.container{
  
  width: 400px;
    height: auto;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    text-align: center;
  
}

input{
 opacity: 0;
}

.label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

.icon--star {
  color: gold;
}

.rating:checked ~ .label .icon--star {
  color: #ddd;
}



