<form (ngSubmit)="onSubmit(userform)" #userform="ngForm">
    <div class="container">
        <h2>Tata Elxsi<span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span></h2>
        <div class="intro-text">
            <h3>Forgot Password ?</h3>
           <b>It happens!, Enter your email to get it</b>
        </div>
       
        <div class="inputs">
            <div class="input">
                <input type="text" name="email"  ngModel required email #email="ngModel"/>
                <label for="email">
                    Email
                </label>
                <span *ngIf="!email.valid && email.touched"class="help-block">Please Enter Valid Email</span>
            </div>
         
        </div>
       
        <div *ngIf="Status"class="alert alert-secondary" role="alert">
            Password sent to your email
          </div>
        <button type="submit" [disabled]="!userform.valid"> Send Password <div *ngIf="LoadingSpinner"class="spinner-border spinner-border-sm text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div></button>
       
        <p class="join-link">New to Tata Elxsi? <a (click)="move_to_register()">Join now</a></p>
      </div>
    </form>