<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar><mat-icon>menu</mat-icon>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="onUser()"><mat-icon>view_list</mat-icon>User List</a>
        <a mat-list-item  (click)="feedback=true;userlist=false"><mat-icon>feedback</mat-icon>Feedback</a>
        <!-- <a mat-list-item href="#">Link 3</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
        </button>
        <span>Welcome to Tata Elxsi</span>
        <span style="margin-left:65%;">Admin-Dashboard</span>
        <button (click)="logout()" class="btn btn-light" type="submit" style="margin-left:20px;"><i class="metismenu-icon pe-7s-lock"></i> Logout</button>
      </mat-toolbar>
      <app-admin-userlist *ngIf="userlist" ></app-admin-userlist>
      <app-admin-feedback *ngIf="feedback" ></app-admin-feedback>
      <!-- Add Content Here -->
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  